fastapi
uvicorn
SQLAlchemy
pydantic
python-dotenv
Google-api-python-client
google-auth
google-auth-oauthlib
jinja2
python-multipart
python-jobspy
pandas
passlib[bcrypt]
python-jose[cryptography]
python-docx
langchain-google-genai
langchain
google-genai
PyPDF2

