{% extends "layout/base.html" %}
{% block content %}
<h1 class="mb-4">Available Jobs</h1>
<table class="table table-striped bg-white shadow-sm">
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Location</th>
      <th>Employment Type</th>
      <th>Deadline</th>
      <th>Source</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job.company }}</td>
      <td>{{ job.title }}</td>
      <td>{{ job.location }}</td>
      <td>{{ job.employment_type }}</td>
        <td>
            {% if job.deadline %}
            {{ job.deadline.strftime("%Y-%m-%d") }}
            {% else %}
            N/A
            {% endif %}
      <td>{{ job.source }}</td>
      <td>
        <a href="{{ job.apply_link }}" target="_blank" class="btn btn-sm btn-outline-primary">Apply</a>
        <button class="btn btn-sm btn-success">Track</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}